
<%= simple_form_for @pin, html:{mulitpart: true} do |f| %>

	<div class="form-group">
		<%= f.collection_select :board_id, @boards, :id, :name %>
	</div>

	<div class="form-group">
		<%= f.input :title %>
	</div>
	
	<div class="form-group">
		<%= f.input :description %>
	</div>

	<div class="form-group">
		<%= f.input :image %>
	</div>

	<% if user_signed_in? %>
		<%= f.button :submit, class: "btn btn-primary" %>
	<% else %>
		<%= link_to	"Sign In to Save a Pin", new_user_session_path %>
	<% end %>

	<% end %>