
<div>
<h1>Your Twitter Feed</h1>
<p>Hello <%= current_user.name %></p>
<p>Here are your friends' tweets</p>
</div>
<!-- @following_tweets -->

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<h1>@<%= current_user.username %></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p>TWEETS: <%= current_user.tweets.count %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p>FOLLOWING: <%= link_to current_user.following.length, following_path %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p> FOLLOWERS:<%= @vanity_count %></p>
		</div>
	</div>
</div>

<div>
	<% @following_tweets.each do |tweet| %>
		<div>
			<p><%= tweet.message %></p>
			<p><strong><em><%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %></em></strong></p>
		</div>
	<% end %>
</div>