<h1><%= @user.username %>'s Profile Tweets</h1>

<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>

<% if current_user.id != @user.id %>
<p>
	<% if current_user.following.include?(@user.id) %>
	<%= link_to "Unfollow", unfollow_path(id: @user.id), class: "btn btn-danger" %>
	<% else %>
	<%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
	<% end %>
</p>
<% end %>

<div class="row">
	<% @user.tweets.each do |tweet| %>
		<div class="col-md-12">
			<div class="well">
				<p><%= tweet.user.username %></p>
				<p><%= tweet.message %></p>
			</div>
		</div>
	<% end %>
</div>